@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');
/* mise en page de départ */
*{padding: 0;
margin: 0;
box-sizing: border-box;
text-decoration: none;
list-style-type: none;}


body {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Space-Grotesk', serif;
}

.cb{color: #4A5568; font-weight: 500;}

.bgc{background-color: #7FA6D9;}

color{color: #4A5568;}

/* flexbox*/
.flex{display: flex;
flex-wrap: wrap;}

.colunm{flex-direction: column;}

.spacebetween{justify-content: space-between;}

.aligncenter{align-items: center;}

.spacearound{justify-content: space-around;}

.gap8{gap: 8px;}


/* alignement et mise en place des élements */
.mb20{margin-bottom: 20px;}

.w50{width: 50px;}

.w100{width: 100px;}


.btn{background-color: black;color: white;border-radius: 50px;padding-top: 10px;padding-left: 10px; padding-right: 10px; padding-bottom: 10px ;}



.w50p{width: 50%;}

.container-1000{
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.txtcenter{text-align: center;}

.w40p{width: 40%;}

.radius{border-radius: 100px;}

.mb60{margin-bottom: 60px;}

.card{border: 4px transparent solid;width: 30%;}

.w30p{width: 30%;}

.cardt{border: 4px transparent solid;width: 30%;}

.mt20{margin-top: 20px;}

.btnf{ background-color: black;color: white;border-radius: 1px;padding-top: 10px; padding-bottom: 10px ; text-align: center;}


.bgb{background-color: #aacdfa;}

.obc{object-fit:cover}



.mr{margin-right: 20px;}

.mb70{margin-bottom: 70px;}

.mt70{margin-top: 70px;}

.gap20{gap: 20px;}

.center{justify-content: center;}

.mt-200{margin-top: -200px;}

.cardd{border: 4px transparent solid;width: 40%;}

.start{justify-content: flex-start;}

.end{align-items: flex-end;}

.mr30{margin-right: 200px;}

.mr-30{margin-right: -200px;}

